
<div class="vista-lista-juegos">
    <section class="card-container">
        <div class="card">
            <div class="card-img">img Juego 1 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/CalculoRapido">Jugar</a>
        </div>
        <div class="card">
            <div class="card-img">img Juego 2 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/CompletaOperacion">Jugar</a>
        </div>
        <div class="card">
            <div class="card-img">img Juego 3 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/EncuentraPatron">Jugar</a>
        </div>
        <div class="card">
            <div class="card-img">img Juego 4 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/MemoryGame">Jugar</a>
        </div>
        <div class="card">
            <div class="card-img">img Juego 5 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/SigueSecuencia">Jugar</a>
        </div>
        <div class="card">
            <div class="card-img">img Juego 6 (jpg, png, svg, etc)</div>
            <a class="btn-secondary" href="./Juegos/TorreHanoi">Jugar</a>
        </div>
    </section>

</div>
