
<div class="vista-lista-juegos">
    <section class="card-container">
        <div class="card">
            <div class="card-img">img Juego 1 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
        <div class="card">
            <div class="card-img">img Juego 2 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
        <div class="card">
            <div class="card-img">img Juego 3 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
        <div class="card">
            <div class="card-img">img Juego 4 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
        <div class="card">
            <div class="card-img">img Juego 5 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
        <div class="card">
            <div class="card-img">img Juego 6 (jpg, png, svg, etc)</div>
            <button class="btn-secondary">Jugar</button>
        </div>
    </section>

</div>
