@{
    ViewData["Title"] = "Juegos";
}
<h2 id="titleJuegos">Catálogo de <span class="addLavandaColor">Juegos</span></h2>
<div class="vista-lista-juegos">
    <section class="card-container">
        <div class="card calcRapido">
            <div class="card-img"><img src="~/images/Circulo.png" /></div>
            <a class="btn-secondary" href="./Juegos/CalculoRapido">Calculo Rápido</a>
        </div>
        <div class="card completaOp">
            <div class="card-img"><img src="~/images/Cuadrado.png" /></div>
            <a class="btn-secondary" href="./Juegos/CompletaOperacion">Completa Operación</a>
        </div>
        <div class="card findPatron">
            <div class="card-img"><img src="~/images/Triangulo.png" /></div>
            <a class="btn-secondary" href="./Juegos/EncuentraPatron">Encuentra Patrón</a>
        </div>
        <div class="card memoGame">
            <div class="card-img"><img src="~/images/Circulo.png" /></div>
            <a class="btn-secondary" href="./Juegos/MemoryGame">Memory Game</a>
        </div>
        <div class="card keepSequence">
            <div class="card-img"><img src="~/images/Cuadrado.png" /></div>
            <a class="btn-secondary" href="./Juegos/SigueSecuencia">Sigue Secuencia</a>
        </div>
        <div class="card hanoiTower">
            <div class="card-img"><img src="~/images/Triangulo.png" /></div>
            <a class="btn-secondary" href="./Juegos/TorreHanoi">Torre Hanoi</a>
        </div>
    </section>
</div>
