@{
    var contexto = ViewData["Contexto"]?.ToString() ?? "Juegos";
    var gameId = contexto == "Juegos" ? "sequence-game" : "sequence-game-cec";
    var esJuegos = contexto == "Juegos";
    ViewData["Title"] = "Sigue Secuencia";
    var dominio = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<div id="@gameId" class="game-wrapper">
    <div class="vista-cec">
        <h2 id="titleCEC">Sigue <span class="addAmarilloColor">Secuencia</span></h2>
        <div class="grupo-enlaces">
            <a class="btn-secondary btn-play-game">Empezar a jugar</a>
            <p class="descripcion">Observa las teclas y recuerda la secuencia de numeros. El objetivo es que pulses las teclas en el orden correcto, poniendo a prueba tu memoria visual y tu capacidad de concentración.</p>
        </div>

        <div class="figurasCSS">
            <span class="figurita cuadradoVerde relleno"></span>
            <span class="figurita circuloAzul"></span>
            <span class="figurita trianguloLavanda relleno"></span>
            <span class="figurita cuadradoVerde"></span>
            <span class="figurita circuloAzul relleno"></span>
            <span class="figurita triangleLavanda"></span>
        </div>
    </div>

    <div id="countdown" class="countdown hidden">3</div>

    <div class="container hidden" id="game-container">
        <div id="grid" class="grid-container"></div>
    </div>
    <div id="result-screen" class="hidden vista-cec">
        @if (esJuegos)
        {
            <div class="grupo-enlaces">
                <a id="ver-resultados-btn" class="btn-secondary btn-play-game" href="@dominio/Juegos/SigueSecuencia/Resultados">Ver Resultados</a>
            </div>
        }
        else
        {
            <div class="grupo-enlaces">
                <a id="ver-resultados-btn" class="btn-secondary btn-play-game" href="@dominio/CalcBrainAge/EncuentraPatron">Siguiente Juego</a>
            </div>
        }
    </div>

    <audio id="sound-start" src="/sounds/start.mp3" preload="auto"></audio>
    <audio id="sound-correct" src="/sounds/correct.mp3" preload="auto"></audio>
    <audio id="sound-end" src="/sounds/end.mp3" preload="auto"></audio>
</div>