/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --blanco: #FFFFFF;
    --negro_suave: #1E1E1E;
    --azul_cielo: #6EB5FF;
    --lavanda: #CFA1FF;
    --verde_menta: #42FF99;
    --amarillo: #FFE866;
    --coral: #FF9E8D;
    --gris_claro: #F0F0F0;
    --naranja: #FCB45E;

    --azul-marino: #1E1E1E;
    --azul_claro: #EAF4FF;
    --lavanda_claro: #F1EAFF;
    --verde_claro: #E4FFF1;
    --amarillo_claro: #FEF9DB;
    --coral_claro: #FEE3DA;
    --naranja_claro: #FEE3C3;
    --amarillo_table: #FCED92;
    --lavanda_hover: #E8D1FF;
    --lavanda_oscuro: #A44DFF;

    --azul_negro_oscuro: #29394D;

    --marfil-calido: #FAF9F6;
    --amarillo-vainilla: #FFF3B0;
    --azul-grisaceo: #9AB4C2;
    --gris-claro: #DADADA;
    --rojo-salmon: #F5C1B0;
}

body { font-family: 'Nunito'; }

a { color: #0077cc; }

nav.navbar { box-shadow: none; box-shadow: none !important; border: none !important; border-bottom: 0 !important;}

a.navbar-brand { white-space: normal; text-align: center; word-break: break-all; }

a.navbar-brand img { height: 40px; width: auto; max-height: 100%; object-fit: contain;}

.btn-primary { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy { font-size: 1rem; line-height: inherit; }

span.addLavandaColor { color: var(--lavanda); }
span.addAzulColor { color: var(--azul_cielo); }
span.addNaranjaColor { color: var(--naranja); }
span.addAmarilloColor { color: var(--amarillo); }
span.addCoralColor { color: var(--coral); }
span.addVerdeColor { color: var(--verde_menta); }
/* *-* MODAL REGISTER/LOGIN STYLE *-* */
/* === Modal personalizado con paleta === */
#loginModal .modal-content { background-color: var(--blanco); border: 5px solid var(--negro_suave); border-radius: 8px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); }
#loginModal .modal-header { color: #404040; padding-bottom: 0; padding-top: 0px; padding-left: 0px; flex: 1; }
#loginModal .modal-title { font-weight: bold; font-size: 1.25rem; }
#loginModal .btn-close { filter: var(--negro_suave); }

/* === Tabs (Login / Registro) === */
#authTab .nav-link { color: var(--lavanda_oscuro); border: none; background-color: transparent; font-weight: 550; font-size: 20px; }
#authTab .nav-link.active, #loginModal .modal-content{
    border: 5px solid var(--lavanda_claro);
} 
#authTab .nav-link.active, #loginModal .modal-header {
    border: 0;
    background-color: var(--lavanda_claro)
}
#authTab .nav-link.active {
    background-color: var(--lavanda);
    color: var(--negro_suave);
    font-weight: bolder;
    border-radius: 6px 6px 0 0;
}
#authTab li button {
    width: 215px;
    height: 55px;
}
#authTab .nav-link:hover {
    background-color: var(--lavanda_hover);
    color: var(--lavanda_oscuro);
    font-weight: bolder;
}

/* === Contenido de cada tab === */
#login-tab-pane,
#register-tab-pane {
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    border-top: none;
}

#loginModal #login-tab-pane > form,
#loginModal #register-tab-pane > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginModal #login-tab-pane > form > div, #loginModal #register-tab-pane > form > div { width: 100%; }

/* === Inputs y botones === */
#loginModal label.form-label { font-weight: bolder; font-size: 18px;}

#loginModal input.form-control#registerNombre,
#loginModal input.form-control#registerNombreUsuario,
#loginModal input.form-control#registerEmail,
#loginModal input.form-control#registerPassword,
#loginModal input.form-control#confirmPassword,
#loginModal input.form-control#loginEmail,
#loginModal input.form-control#loginPassword {width: 100%;font-size: 1.25rem;text-align: left;padding: 5px 15px;}

#loginModal .form-control {
    border: 1px solid #B0B0B0;
    border-radius: 4px;
}

#loginModal .form-control:focus {
    border-color: var(--lavanda_oscuro);
    box-shadow: 0 0 0 0.15rem var(--lavanda_hover);
}

#loginModal button[type="submit"] {
    background-color: var(--lavanda);
    border-color: var(--lavanda_oscuro);
    color: var(--negro_suave);
    font-weight: 500;
    font-size: 19px;
    transition: background-color 0.3s ease;
}

#loginModal button[type="submit"]:hover {
    background-color: var(--lavanda_claro);
    color: var(--negro_suave);
    font-weight: bolder;
    border: 3px solid var(--lavanda_hover);
}



/* *-*-*-*-* NAV STYLE *-*-*-*-* */
header nav{ margin-top: 6px; }
header nav ul.navbar-nav a.btn-secondary{font-family: 'Nunito';text-decoration: none;font-weight: bold;border-radius: 0.5rem;padding: 0.6rem 1.2rem;font-size: 0.95rem;cursor: pointer;transition: filter 0.3s;}
header div.navbar-collapse ul.navbar-nav { gap: 10px; }
header div.navbar-collapse ul.navbar-nav li {width: 150px;text-align: center;}
header ul.navbar-nav a.btn-login {background-color: var(--azul-marino);border: 3px solid var(--azul_negro_oscuro);color: var(--blanco)!important; font-size: 20px !important; }
header ul.navbar-nav a.btn-register { color: var(--negro)!important; background-color: var(--blanco); border: 3px solid var(--azul_negro_oscuro); font-size: 20px !important; }
header ul.navbar-nav a.btn-perfil { background-color: var(--azul_claro); border: 3px solid var(--azul_cielo); color: var(--negro); font-size: 20px !important; }
header ul.navbar-nav a.btn-logout { color: var(--negro); background-color: var(--coral_claro); border: 3px solid var(--coral); font-size: 20px !important; }


/* *-*-*-*-* HOME STYLE *-*-*-*-* */
.vista-home .top-icons { display: flex; justify-content: flex-end; gap: 1rem; padding: 1rem 2rem 0 0; }
.vista-home .icon-btn { background-color: white; border: none; border-radius: 8px; padding: 0.5rem; font-size: 1.2rem; cursor: pointer; transition: background-color 0.3s ease; }
.icon-btn:hover { background-color: var(--gris-claro); }
/* === Título centrado === */
.vista-home .page-title { text-align: center; margin: 2.5rem 0; margin-bottom: 0.5rem; }
.vista-home .page-title img {max-width: 100%; max-height: 100%; height: 175px; width: auto; object-fit: contain;}
/* === Contenedor de tarjetas === */
.vista-home .card-container { display: flex; flex-wrap: wrap; justify-content: center; gap: 2rem; padding: 2rem; }
/* === Estilo de tarjeta Home === */
.vista-home .card { padding: 1rem; border: 0; border-radius: 12px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); width: 250px; text-align: center; height: 250px; justify-content: space-evenly; }
.vista-home .card:hover { transform: translateY(-5px); }
.vista-home .card.calcBrainAge { background-color: var(--azul_claro); }
.vista-home .card.juegos { background-color: var(--lavanda_claro); }
.vista-home .card.explicacion { background-color: var(--verde_claro); }
.vista-home .btn-secondary:focus { box-shadow: none; }
/* === Imagen dentro de la tarjeta === */
.vista-home .card-img { padding: 1rem 0rem 0rem; height: 100px; margin-bottom: 1rem; display: flex; justify-content: center; align-items: center; border-radius: 8px; font-size: 0.9rem; }
.vista-home .card-img img { max-width: 100%; max-height: 100%; width: auto; height: auto; object-fit: contain; display: block; }
/* === Botón de tarjeta === */
.vista-home .btn-secondary { background-color: var(--coral-palido); border: none; padding: 0.5rem 1rem; border-radius: 6px; cursor: pointer; color: var(--negro_suave); font-weight: 600; transition: background-color 0.3s ease; text-decoration: none; font-size: 1.5rem; }
.vista-home .card.calcBrainAge .btn-secondary:hover { background-color: var(--azul_cielo); }
.vista-home .card.juegos .btn-secondary:hover { background-color: var(--lavanda); }
.vista-home .card.explicacion .btn-secondary:hover { background-color: var(--verde_menta); }
/* === Botón de grupo-enlaces === */
.vista-home .grupo-enlaces { display: flex; justify-content: center; gap: 50px; }
.vista-home .grupo-enlaces .btn-secondary{ background-color: var(--azul-marino); color: var(--blanco) ;border: none; border-radius: 0.5rem; padding: 0.6rem 1.2rem; font-size: 1.25rem; cursor: pointer; transition: filter 0.3s;}



/* *-*-*-*-* JUEGOS STYLE *-*-*-*-* */
.vista-lista-juegos { max-width: 900px; display: flex; justify-content: center; margin: 0 auto; }
.vista-lista-juegos .top-icons { display: flex; justify-content: flex-end; gap: 1rem; padding: 1rem 2rem 0 0; }
.lista-lista-juegos .icon-btn { background-color: white; border: none; border-radius: 8px; padding: 0.5rem; font-size: 1.2rem; cursor: pointer; transition: background-color 0.3s ease; }
/* === Título centrado === */
h2#titleJuegos { font-weight: bold; text-align: center; font-size: xxx-large; }
/* === Contenedor de tarjetas === */
.vista-lista-juegos .card-container { display: flex; flex-wrap: wrap; justify-content: center; gap: 2rem; padding: 2rem; }
/* === Estilo de tarjeta Juegos === */
.vista-lista-juegos .card { padding: 1rem; border: 0; border-radius: 12px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); width: 250px; text-align: center; height: 250px; justify-content: space-evenly; }
.vista-lista-juegos .card:hover { transform: translateY(-5px); }
.vista-lista-juegos .card.calcRapido { background-color: var(--azul_claro); }
.vista-lista-juegos .card.completaOp { background-color: var(--lavanda_claro); }
.vista-lista-juegos .card.findPatron { background-color: var(--naranja_claro); }
.vista-lista-juegos .card.memoGame { background-color: var(--coral_claro); }
.vista-lista-juegos .card.keepSequence { background-color: var(--amarillo_claro); }
.vista-lista-juegos .card.hanoiTower { background-color: var(--verde_claro); }
.vista-lista-juegos .btn-secondary:focus { box-shadow: none; }
/* === Imagen dentro de la tarjeta === */
.vista-lista-juegos .card-img { padding: 1rem 0rem 0rem; height: 100px; margin-bottom: 1rem; display: flex; justify-content: center; align-items: center; border-radius: 8px; font-size: 0.9rem; }
.vista-lista-juegos .card-img img { max-width: 100%; max-height: 100%; width: auto; height: auto; object-fit: contain; display: block; }
/* === Botón de tarjeta === */
.vista-lista-juegos .btn-secondary { background-color: var(--coral-palido); border: none; padding: 0.5rem 1rem; border-radius: 6px; cursor: pointer; color: var(--negro_suave); font-weight: 600; transition: background-color 0.3s ease; text-decoration: none; font-size: 1.5rem; }
.vista-lista-juegos .card.calcRapido .btn-secondary:hover { background-color: var(--azul_cielo); }
.vista-lista-juegos .card.completaOp .btn-secondary:hover { background-color: var(--lavanda); }
.vista-lista-juegos .card.findPatron .btn-secondary:hover { background-color: var(--naranja); }
.vista-lista-juegos .card.memoGame .btn-secondary:hover { background-color: var(--coral); }
.vista-lista-juegos .card.keepSequence .btn-secondary:hover { background-color: var(--amarillo); }
.vista-lista-juegos .card.hanoiTower .btn-secondary:hover { background-color: var(--verde_menta); }



/* *-*-*-*-* CEC STYLE *-*-*-*-* */
/* === Título centrado === */
.vista-cec h2#titleCEC { font-weight: bold; text-align: center; font-size: 80px; margin: auto; max-width: 550px; margin-bottom: 30px; }
.vista-cec .page-title { text-align: center; margin: 2.5rem 0; margin-bottom: 0.5rem; }
.vista-cec .page-title img { max-width: 100%; max-height: 100%; height: 175px; width: auto; object-fit: contain; }

/* === Botón de grupo-enlaces === */
.vista-cec .grupo-enlaces { display: flex; justify-content: space-evenly; flex-direction: column; flex-wrap: nowrap; align-items: center; }
.vista-cec .grupo-enlaces .btn-secondary { box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); background-color: var(--amarillo); color: var(--negro); border: none; border-radius: 0.5rem; padding: 0.6rem 2.5rem; font-size: 2.60rem; cursor: pointer; transition: filter 0.3s; text-decoration: none; font-weight: bold; max-width: 1500px; text-align: center; }
.vista-cec p.descripcion { padding: 20px; font-size: xx-large; font-weight: bold; max-width: 650px; text-align: center; }
.vista-cec .grupo-enlaces .btn-secondary:hover { transform: translateY(-5px); }
/* === Grupo Figuritas === */
.figurasCSS { display: flex; justify-content: space-evenly; gap: 1.2rem; flex-direction: row; flex-wrap: wrap; align-content: center; align-items: center; }
.figurita { width: 40px; height: 40px; display: inline-block; background: transparent; }
.circuloAzul { border: 6px solid var(--azul_cielo); border-radius: 50%; }
.circuloAzul.relleno { background-color: var(--amarillo); border: none; }
.cuadradoVerde { border: 6px solid var(--verde_menta); border-radius: 8px; }
.cuadradoVerde.relleno { background-color: var(--coral); border: none; border-radius: 8px; }
.trianguloLavanda { position: relative; background-color: var(--lavanda); text-align: left; transform: rotate(-60deg) skewX(-30deg) scale(1,.866); }
.trianguloLavanda:before, .trianguloLavanda:after { content: ''; position: absolute; background-color: inherit; }
.trianguloLavanda, .trianguloLavanda:before, .trianguloLavanda:after { width: 25px; height: 25px; border-top-right-radius: 30%; }
.trianguloLavanda:before { transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%); }
.trianguloLavanda:after { transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%); }
.triangleLavanda { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 34px solid var(--lavanda); border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; background: transparent; }

/* *-*-*-*-* PERFIL STYLE *-*-*-*-* */
/* una línea por cada regla de estilo */
.vista-perfil { max-width: 1000px; margin: 2rem auto; padding: 1rem; color: #1E1E1E; }
.vista-perfil .apartado-info { display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start; margin-bottom: 2rem; }
.vista-perfil .datos-basic {max-width: 60%;flex: 1;}
.vista-perfil .title-page {font-size: 2.1rem;font-weight: bolder;margin-bottom: 1rem;}
.vista-perfil .dato {margin: 0.5rem 0;font-size: 1.25rem;font-weight: 600;}
.vista-perfil .dato-fullname, .dato-username, .dato-email {font-weight: lighter;}
.vista-perfil .datos-dcha {text-align: center;min-width: 150px;flex: 1;}
.vista-perfil .datos-dcha .dato {font-weight: bold;font-size: 2rem;margin: 0;}
.vista-perfil .dato-edad {display: block;font-size: 5rem;font-weight: bold;color: #6EB5FF;}
.vista-perfil .container-partidas { margin-top: 2rem; }
.vista-perfil .title-second {font-size: 1.85rem;margin-bottom: 1rem;font-weight: 600;}
.vista-perfil table { font-size: 19px; width: 100%; border-collapse: collapse; background: white; border-radius: 10px; overflow: hidden; box-shadow: 0 2px 6px rgba(0,0,0,0.05); }
.vista-perfil thead { background: #F0F0F0; }
.vista-perfil th, .vista-perfil td { padding: 0.75rem 1rem; text-align: center;}
.vista-perfil td.celda-acciones {display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;gap: 10px;justify-content: center;}
.vista-perfil tbody tr:not(:last-child) { border-bottom: 1px solid #eee; }
.vista-perfil .btn-secondary:hover { filter: brightness(0.95); }
.vista-perfil .btn-secondary { padding: 0.3rem 0.8rem; border-radius: 8px; font-weight: bold; text-decoration: none; cursor: pointer; display: inline-block; }
.vista-perfil .btn-secondary.details {background-color: var(--azul_claro); border: 2px solid var(--azul_cielo);color: var(--negro);}
.vista-perfil .btn-secondary.delete {background-color: var(--coral_claro);border: 2px solid var(--coral);color: var(--negro);}

/* *-*-*-*-* DETALLES PARTIDA STYLE *-*-*-*-* */
h1#titulo { font-weight: 900; text-align: center; font-size: 60px; margin-bottom: 0.5rem; }
.vista-detalles-partida { max-width: 1200px; padding: 1rem; display: flex; flex-direction: column; gap: 2rem; margin: 0 auto; }
.vista-detalles-partida .container-de-bloques {display: flex;flex-wrap: wrap;justify-content: center;gap: 2rem;padding: 1.25rem;}
.vista-detalles-partida .bloque {border-radius: 1rem;padding: 1.5rem;box-shadow: 0 4px 12px rgba(0,0,0,0.05);font-size: 1rem;min-width: 0;width: 530px;}
.vista-detalles-partida .bloque h3, .vista-detalles-partida .grafico-tiempo h3, .vista-detalles-partida .grafico-aciertos h3 { font-size: xx-large; font-weight: 600; margin-bottom: 1rem; text-align: center; }
.vista-detalles-partida .bloque-graficos h3 {margin-top:1rem;}
.vista-detalles-partida .bloque li {font-size:larger;font-weight: 600;}
.vista-detalles-partida .bloque li span.textoNormal{ font-weight:normal;}
.vista-detalles-partida .bloque-tiempo { background-color: var(--azul_claro); }
.vista-detalles-partida .bloque-precision { background-color: var(--lavanda_claro); }
.vista-detalles-partida .bloque-detalle {background-color: var(--amarillo_claro);}
.vista-detalles-partida .bloque-graficos {display: flex;flex-direction: column;border-radius: 1rem;padding: 0;gap: 2rem;box-shadow: none;}
.vista-detalles-partida .grafico-tiempo,.grafico-aciertos { background-color: var(--verde_claro); border-radius: 1rem; padding: 1rem; box-shadow: 0 2px 6px rgba(0,0,0,0.05); }
.vista-detalles-partida table { width: 100%; border-collapse: separate; border-spacing: 0; font-size: 0.95rem; margin-top: 1rem; border-radius: 20px; overflow: hidden; border: 3px solid var(--amarillo_table); }
.vista-detalles-partida table th {font-size: 20px;}
.vista-detalles-partida table th, .vista-detalles-partida table td {padding: 0.75rem 0.25rem; text-align: center;border-top: 3px solid var(--amarillo_table); border-bottom: 3px solid var(--amarillo_table);}
.vista-detalles-partida table th { background-color: var(--amarillo_table); }
.vista-detalles-partida table td:first-child, .vista-detalles-partida table th:first-child { border-left: 2px solid var(--amarillo_table); }
.vista-detalles-partida table td:last-child, .vista-detalles-partida table th:last-child { border-right: 2px solid var(--amarillo_table); }
.vista-detalles-partida table td { font-size: 20px }
#timeChart, #accuracyChart { width: 100%; height: 300px; display: block; border-radius: 0.5rem; }
.vista-detalles-partida ul { list-style: disc; padding-left: 1.5rem; line-height: 1.6; }
