@model IEnumerable<BrainEx.Models.User>
@{
    ViewData["Title"] = "Home";
    var dominio = $"{Context.Request.Scheme}://{Context.Request.Host}";
}

<div class="vista-home">
    <div class="page-title"><img src="~/images/BrainEx2.png" /></div>

    <section class="card-container">
        <div class="card calcBrainAge">
            <div class="card-img"><img src="~/images/cerebroSeleccion.png" /></div>
            <a class="btn-secondary" href="@dominio/CalcBrainAge">Calcula tu edad cerebral</a>
        </div>
        <div class="card juegos">
            <div class="card-img"><img src="~/images/figuritas.png" /></div>
            <a class="btn-secondary" href="@dominio/Juegos">Catálogo de juegos</a>
        </div>
        <div class="card explicacion">
            <div class="card-img"><img src="~/images/Documento.png" /></div>
            <a class="btn-secondary" href="https://drive.google.com/file/d/1o2Dd-uSht4C3Ivw7G0h2odYwv7vlUycF/view?usp=sharing">Explicación del proyecto</a>
        </div>
    </section>
    <div class="grupo-enlaces">
        <a class="btn-secondary" href="https://github.com/SilviaCC1701/brainex_web">Repositorio web</a>
        <a class="btn-secondary" href="https://github.com/SilviaCC1701/brainex_proxy">Repositorio proxy</a>
        <a class="btn-secondary" href="https://github.com/SilviaCC1701/brainex_docker-compose">Repositorio docker compose</a>
    </div>
</div>



@*<div class="container mt-4">
    <h2 class="mb-4">Lista de Usuarios</h2>

    @if (!Model.Any())
    {
        <p>No se encontraron usuarios.</p>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
*@