<div id="hanoi-game" class="game-wrapper">
    <div id="start-screen" class="start-screen">
        <h2>Presiona cualquier tecla para comenzar</h2>
    </div>

    <div id="countdown" class="countdown">3</div>

    <div class="container hidden" id="game-container">
        <div class="hanoi-pegs">
            <div class="peg" data-peg="0"></div>
            <div class="peg" data-peg="1"></div>
            <div class="peg" data-peg="2"></div>
        </div>

        <div id="result-screen" class="hidden">
            <h2>¡Completado!</h2>
            <p>¡Has resuelto la Torre de Hanoi!</p>
        </div>
    </div>
</div>