@model dynamic


@{
    ViewData["Title"] = "Detalles";
    string partidaId = Context.Request.Query["PartidaID"];
    var tipoPartida = partidaId.Split('_')[1];
    switch (tipoPartida)
    {
        case "calculo_rapido":

            break;
        case "completa_operacion":
            break;
        case "encuentra_patron":
            break;
        case "memory_game":
            break;
        case "sigue_secuencia":
            break;
        case "torre_hanoi":
            break;
        case "CEC":
            break;
    }
}

<div class="vista-detalles-partida">
    <h1 class="titulo">Resultados</h1>
    <div class="container-de-bloques">
        @{
            switch (Model.GetType().Name)
            {
                case "ResultadoCalculoRapido":

                    break;
                case "ResultadoCompletaOperacion":
                    break;
                case "ResultadoEncuentraPatron":
                    break;
                case "ResultadoMemoryGame":
                    break;
                case "ResultadoSigueSecuencia":
                    break;
                case "ResultadoTorreHanoi":
                    break;
                case "CEC":
                    break;
            }
        }
    </div>
</div>


