@{
    var dominio = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <!-- Cambiar por un logo pequeño -->
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            @if (!(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
            ViewContext.RouteData.Values["action"]?.ToString() == "Index"))
            {
                <img src="~/images/horizontalSeleccion.png" />
            }
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav ms-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link btn-secondary btn-perfil" href="@dominio/Perfil">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-secondary btn-logout" href="@dominio/Cuenta/Logout">Cerrar Sesión</a>
                    </li>
                }
                else
                {
                    <li class="nav-item" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <a class="nav-link btn-secondary btn-login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <a class="nav-link btn-secondary btn-register">Registrarse</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<!-- Modal de InicioSesión y Registro -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="authTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane" aria-selected="true">Iniciar Sesión</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register-tab-pane" type="button" role="tab" aria-controls="register-tab-pane" aria-selected="false">Registrarse</button>
                    </li>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content" id="authTabContent">
                    <!-- Login -->
                    <div class="tab-pane fade active show" id="login-tab-pane" role="tabpanel" aria-labelledby="login-tab">
                        <form method="post" action="/Account/Login">
                            <div class="mb-3">
                                <label for="loginEmail" class="form-label">Correo electrónico o usuario</label>
                                <input type="email" class="form-control" id="loginEmail" name="Email" required="">
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="loginPassword" name="Password" required="">
                            </div>
                            <button id="btn_login" type="submit" class="btn btn-primary">Entrar</button>
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8CiYnftQtWFEpycN5Ld80eqOjXcjX9tDnNH7NeYv8K5m-N01ixLCU4Wi6e-Feg2c1TJmayO35hfaJQNfrT4V1mMhEGX4H_bzXOZA1H3Pelp9_i3gNTwVx07jdivES8WqZAckpGBRUaK3yriER2_deKk">
                        </form>
                    </div>

                    <!-- Registro -->
                    <div class="tab-pane fade" id="register-tab-pane" role="tabpanel" aria-labelledby="register-tab">
                        <form method="post" action="/Account/Register">
                            <div class="mb-3">
                                <label for="registerNombre" class="form-label">Nombre completo</label>
                                <input type="text" class="form-control" id="registerNombre" name="Nombre" required="">
                            </div>
                            <div class="mb-3">
                                <label for="registerNombreUsuario" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-control" id="registerNombreUsuario" name="NombreUsuario" required="">
                            </div>
                            <div class="mb-3">
                                <label for="registerEmail" class="form-label">Correo electrónico</label>
                                <input type="email" class="form-control" id="registerEmail" name="Email" required="">
                            </div>
                            <div class="mb-3">
                                <label for="registerPassword" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="registerPassword" name="Password" required="">
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required="">
                            </div>
                            <button id="btn_register" type="submit" class="btn btn-success">Registrarse</button>
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8CiYnftQtWFEpycN5Ld80eqOjXcjX9tDnNH7NeYv8K5m-N01ixLCU4Wi6e-Feg2c1TJmayO35hfaJQNfrT4V1mMhEGX4H_bzXOZA1H3Pelp9_i3gNTwVx07jdivES8WqZAckpGBRUaK3yriER2_deKk">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
