@{
    ViewData["Title"] = "CEC";
    var dominio = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<div class="vista-cec">
    <h2 id="titleCEC">Calcula tu Edad <span class="addAzulColor">Cerebral</span></h2>
    <div class="grupo-enlaces">
        <a class="btn-secondary" href="@dominio/CalcBrainAge/CalculoRapido">Calcula tu edad cerebral ahora</a>
        <p class="descripcion">Pon a prueba tu cerebro con una serie de mini-juegos y averigua tu edad cerebral</p>
    </div>

    <div class="figurasCSS">
        <span class="figurita cuadradoVerde relleno"></span>
        <span class="figurita circuloAzul"></span>
        <span class="figurita trianguloLavanda relleno"></span>
        <span class="figurita cuadradoVerde"></span>
        <span class="figurita circuloAzul relleno"></span>
        <span class="figurita triangleLavanda"></span>
    </div>
</div>